
@{
    ViewData["Title"] = "Index";
}

<div>
    <h2>Welcome to ASPNETCore and React Practice</h2>

    <p>In this practice we will build somethings with .NetCore Web API and React. 
    These things can be found down bellow:</p>

    <ul>
        <li>
            <label>Example:</label>
            <a href="@Url.Action("example")">React Example consuming a .NetCore Web API</a>
        </li>
    </ul>
</div>