
@{
    ViewData["Title"] = "Example";
}

@* Referencing JSX files *@
@section scripts {
    <script src="@Url.Content("~/js/example/example.jsx")"></script>
}

@Html.Partial("ReturnToIndex")

<div>
    <h2>React Example consuming a .NetCore Web API</h2>

    <!--React DOM-->
    <div id="content"></div>
</div>